NEXT_PUBLIC_BACKEND_URL="http://localhost:8000"

BACKEND_PORT=8000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/postgres"
REDIS_URL="redis://localhost:6379/0"
JWT_SECRET=""
AWS_REGION=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
CACHE_DURATION=3600